body {
	font-family: Verdana;
	font-size: 16 px;
	background-color: black;
}

h1 {
	background-color: black;
	color: white;
	font-size: 2 em;
}

h1 + p {
	color: white;
}

div {
	background-color: #ccc;
}

h2 {
	text-align: center;
	font-size: 1.4 em;
}

p {
	line-height: 1.3;
}

.firstDiv h2 {
	color: blue;
}

.firstDiv span {
	color: blue;
	background-color: white;
	border: 1px solid blue;
}

.firstDiv ul {
	list-style-type: square;
}

.firstDiv li:nth-child(2n+1) {
	color: white;
	background-color: blue;
}

.secondDiv h2 {
	color: green;
}

.secondDiv span {
	color: green;
	background-color: white;
	border: 1px dashed green;
}

table, th, td {
	background-color: black;
	color: white;
	border: 1px solid white;
	
}

th, td {
	padding: 4px;
}
