/* General CSS for all pages */
* {
    box-sizing: border-box;
}

div.row {
    width: 100%;
}

div.row::before, div.row::after {
    content: "";
    display: table;
    clear: both;
}

.current {
    font-weight: bold;
    text-decoration: underline;
}

.page {
    background-color: black;
    margin: 0%;
    padding: 0%;
    color: white;
}

p {
    font-family: "Courier New", monospace;
    font-size: 1.25em;
    margin-top: 0;
}

li {
    font-family: "Courier New", monospace;
    margin-top: 0;
}

h1, h2, h3, h4 {
    font-family: "Courier New", monospace;
    margin-top: 1%;
    margin-bottom: 0;
}

/* Maybe move to different section of CSS doc */
/* Source: https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid white;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.downArrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* CSS for Landing Page */
.landing {
    /* Image Source: https://www.usatoday.com/story/news/nation/2021/10/11/aurora-may-visible-northern-us-solar-storm-heads-earth/6090775001/ */
    background-image: url("../images/landing/aurora_borealis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.landing .row h1 {
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 5em;
    color: white;

    /* Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(50, end);
    margin-top: 5%;
}

.landing .row ul {
    margin-top: 10%;
    text-align: center;
}

.landing .row ul li {
    display: inline;
}

.landing .row ul a {
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 2em;
    font-weight: bold;

    margin: 0.5%;
    padding: 2%;
    background-color: #7b8993;
    color: white;

    visibility: hidden;
    animation: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes fade {
    from {visibility: hidden; opacity: 0%;}
    to {visibility: visible; opacity: 100%;}
}

/* Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
@keyframes typing {
    from {width: 0%;}
    to {width: 100%;}
}

/* CSS to structure the content of all pages except landing page */
.aboutme main, .resume main, .projects main, .contactme main {
    margin: 0% 15%;
}

/* CSS for page header/navigation */
.nav ul {
    text-align: center;
}

.nav .left ul a, .nav .right ul a {
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 1.25em;
    color: white;
    padding: 1% 2%;
}

.nav ul li {
    display: inline;
}

.nav .left {
    float: left;
    width: 20%;
}

.nav .right {
    float: left;
    width: 70%;
}

.nav .farRight {
    float: left;
    width: 10%;
}

.nav .farRight ul li {
    border: 1px solid white;
    padding: 2%;
    cursor: pointer;
}

/* CSS for About Me Page */
.aboutme .professional .left, .aboutme .casual .right {
    float: left;
    width: 80%;
}

.aboutme .professional .right, .aboutme .casual .left {
    float: left;
    width: 20%;
}

.aboutme .professional img, .aboutme .casual img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    height: auto;
}

/* CSS for Resume Page */
/* Resume Page: PDF Section */
.resume .pdf {
    width: 100%;
    float: left;
    margin: 1% 0%;
    text-align: center;
}

.resume .pdf a {
    padding: 0.355% 2%;
    border: 1px solid white;
    text-decoration: none;
    font-family: "Courier New", monospace;
    color: white;
}

/* Resume Page: Education Section */
.resume .education .left {
    width: 70%;
    float: left;
}

.resume .education .right {
    width: 30%;
    float: left;
}

.resume .education img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    height: auto;
}

/* Resume Page: Skills Section */
/* Resume Page: Activities Section */
/* Resume Page: Experience Section */
.resume .skills .left, .resume .activities .left, .resume .experience .left {
    width: 25%;
    float: left;
}

.resume .skills .right, .resume .activities .right, .resume .experience .right {
    width: 75%;
    float: left;
}

.resume .skills .left img {
    display: inline;
    margin-right: 2%;
    width: 100%;
    min-width: 75px;
    max-width: 75px;
    height: auto;
}

.resume .activities .left img, .resume .experience .left img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    height: auto;
}

/* CSS for Projects Page */
.projects #directory li {
    cursor: pointer;
}

.projects .project .description p {
    margin-top: 1%;
}

.projects .project .description ul {
    list-style-type: none;
    padding: 0;
}

.projects .project .description ul li {
    display: inline;
}

.projects .project .description a {
    padding: 0.5%;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

/* Projects Page: Blackjack Game Section */
/* Projects Page: Discord Bot Section */
.projects .project .blackjackColumn, .projects .project .discordColumn {
    width: 33.33%;
    float: left;
}

.projects .project .blackjackColumn img, .projects .project .discordColumn img {
    display: block;
    margin: 0 auto;
    width: 95%;
    min-width: 50%;
    max-width: 100%;
    height: auto;
}

/* Projects Page: BASIC Interpreter Section */
.projects .project .interpreterColumn {
    width: 50%;
    float: left;
    text-align: center;
}

.projects .project .interpreterColumn img {
    display: block;
    margin: 0 auto;
    width: 95%;
    min-width: 50%;
    max-width: 100%;
    height: auto;
}

/* CSS for Contact Me Page */
.contactme .contact .left {
    width: 60%;
    float: left;
    margin-top: 2.5%;
}

.contactme .contact .right {
    width: 40%;
    float: left;
    margin-top: 2.5%;
}

.contactme .contact .left form label {
    font-family: "Courier New", monospace;
    font-size: 1.25em;
}

.contactme .contact .left form input[type = text], .contactme .contact .left form textarea {
    font-family: "Courier New", monospace;
    font-size: 1em;
    resize: none;
    display: block;
    margin: 2%;
    width: 80%;
    padding: 1% 1%;
}

.contactme .contact .left form a {
    display: block;
    margin-left: 2%;
    text-align: center;
    padding: 1%;
    border: 1px solid white;
    width: 20%;
    text-decoration: none;
    color: white;
    font-family: "Courier New", monospace;
    font-size: 1em;
}

.contactme .contact .right .left {
    width: 30%;
    float: left;
}

.contactme .contact .right .right {
    width: 70%;
    float: left;
}

.contactme .contact .right img {
    display: block;
    margin: 0 auto;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}

.contactme .contact .right .right p {
    line-height: 3em;
}